/* Algemeen */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #de5b56;
	font-family: 'Montserrat', sans-serif;
}

/* Navigation */
nav {
    float:right;
    writing-mode:tb-rl;/*IE*/
    writing-mode:vertical-lr;/* OPera/webkit*/
    writing-mode:sideways-lr;/* should be the one */   
    background-color: white;  
    height: 100%; 
    display: flex;
    justify-content: center;
    position: fixed !important;
    right: 0;
    z-index: 30;
}
    
li {
    display:inline-block;
}

a.menu {
    display:inline-block;
    color: black;
    font-size: 15px;
    margin: 50px 0px 50px 0px;
    text-transform: uppercase;
}

a.menu:hover {
    color: #de5b56;
    text-decoration: none;
}

/* Text */
h1 {
	color: white;
	font-size: 37px;
    -webkit-animation-delay: 0.3s;
    margin-top: -105px;
}

h2 {
	color: white;
	font-size: 29px;
    margin-top: 10px;
    margin-left: 0px;
    -webkit-animation-delay: 1.1s;
}

h3 {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    color: white;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

hr {
    width: 60%;
    border-top: 2px solid white;
    margin-bottom: 30px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #de5b56;
}

h1.faded {
    font-size: 55px;
    opacity: 0.1;
    color: white;
    z-index: -10;
    padding-top: 100px;
}

/* Images */
img {
    width: 100vw;
}

/* Buttons */
button {
    text-transform: uppercase;
    width: 90%;
    height: 40px;
    margin-top: 20px;
}

.btn {
    border-radius: 0;
    color: black;
    border: none;
    background-color: white;
    font-size: 16px;
    transition: all 1s;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: #de5b56;
    -webkit-transition: all .8s ease-in-out;  
    border: none;
    -webkit-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
    box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
}

.res {
    margin-top: -15px;
}

/* Containers */
.main {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
    margin-left: 8%;
    height: 100vh;
}

div.container {
    margin: 40px 10px 40px 10px;
}

/* iPads */
@media only screen and (min-device-width : 768px) {
    /* Text */
    h1.tekst {
        color: white;
        font-size: 70px;
        -webkit-animation-delay: 0.3s;
        margin-top: -150px;
    }

    h2.tekst {
        color: white;
        font-size: 40px;
        margin-top: 10px;
        -webkit-animation-delay: 2.1s;
    }

    h1.faded {
        font-size: 100px;
        opacity: 0.1;
        color: white;
        z-index: -10;
    }

    hr {
        width: 80%;
    }

    h3 {
        font-size: 40px;
    }

    /* Containers */
    

    /* Images */


}

/* Desktops & laptops */
@media only screen  and (min-width : 1224px) {
    /* Text */
    h1.tekst {
        color: white;
        font-size: 80px;
        -webkit-animation-delay: 0.3s;
        margin-top: -200px;
    }

    h2.tekst {
        color: white;
        font-size: 50px;
        margin-top: 10px;
        -webkit-animation-delay: 2.1s;
    }

    h1.faded {
        font-size: 170px;
        opacity: 0.1;
        color: white;
        z-index: -10;
    }

    h3 {
        font-size: 45px;
    }

    /* Containers */
    div.container {
        margin: 150px 100px 150px 100px;
    }

    /* Buttons */
    .btn {
        width: 60%;
        margin: 50px 0px 0px 0px;
    }
}

/* Large screens */
@media only screen  and (min-width : 1824px) {
    /* Text */
    h1.tekst {
        color: white;
        font-size: 80px;
        -webkit-animation-delay: 0.3s;
        margin-top: -200px;
    }

    h2.tekst {
        color: white;
        font-size: 50px;
        margin-top: 10px;
        -webkit-animation-delay: 2.1s;
    }

    h1.faded {
        font-size: 170px;
        opacity: 0.1;
        color: white;
        z-index: -10;
    }
}