/* Algemeen */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #de5b56;
	font-family: 'Montserrat', sans-serif;
}

/* Parallax */
.parallax1 {
    /* The image used */
    background-image: url("images/bus.jpg");

    /* Set a specific height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image: url("images/kwfban.png");

    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
/* Navigation */
nav {
    float:right;
    writing-mode:tb-rl;/*IE*/
    writing-mode:vertical-lr;/* OPera/webkit*/
    writing-mode:sideways-lr;/* should be the one */   
    background-color: white;  
    height: 100%; 
    display: flex;
    justify-content: center;
    position: fixed !important;
    right: 0;
    z-index: 30;
}
    
li {
    display:inline-block;
}

a.menu {
    display:inline-block;
    color: black;
    font-size: 15px;
    margin: 50px 0px 50px 0px;
    text-transform: uppercase;
}

a.menu:hover {
    color: #de5b56;
    text-decoration: none;
}

@keyframes backAndForth {
    20% {
        top: 15px; 
    }
    60%, 80% {
        top: 50px; 
    }
    90% {
        top: 15px; 
    }
}
/* Text */
p {
    color: white;
    font-size: 18px;
    margin-right: -250px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #de5b56;
}

/* Images */
img {
    width: 100vw;
}

/* Buttons */
button {
    text-transform: uppercase;
    width: 90%;
    height: 40px;
    margin-top: 20px;
}

.btn {
    border-radius: 0;
    color: black;
    border: none;
    background-color: white;
    font-size: 16px;
    transition: all 1s;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: #de5b56;
    -webkit-transition: all .8s ease-in-out;  
    border: none;
    -webkit-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
    box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
}

/* Containers */
div.container {
    margin: 40px 10px 10px 10px;
}

/* iPads */
@media only screen and (min-device-width : 768px) {
    /* Text */


    /* Containers */
    

    /* Images */


}

/* Desktops & laptops */
@media only screen  and (min-width : 1224px) {
    /* Text */


    /* Containers */
    div.container {
        margin: 150px 0px 150px 100px;
    }

    /* Buttons */
    .btn {
        width: 60%;
        margin: 50px 0px 0px 0px;
    }

    .pdf {
        display: flex;
        justify-content: center;
    }
}

/* Large screens */
@media only screen  and (min-width : 1824px) {
    /* Text */

}