/* Algemeen */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #de5b56;
	font-family: 'Montserrat', sans-serif;
}

/* Navigation */
nav {
    float: left;
    writing-mode: inherit;
    writing-mode: initial;
    writing-mode: unset;
    background-color: #de5b56; 
    display: flex;
    justify-content: flex-start;
    position: fixed !important;
    z-index: 30;
    width: 100%;
}
.navbar-toggler-icon {
    margin-left: -10px;
}
    
li {
    display: inline-block;
}

li:hover {
    font-style: italic;
}

a.menu {
    display: inline-block;
    color: white !important;
    font-size: 15px;
    margin: 0px 0px 0px 20px;
    text-transform: uppercase;
}

a.menu:hover {
    color: #de5b56;
    text-decoration: none;
}

.navbar-toggler {
    background-color: transparent !important;
    border: none;
    width: 20px;
}

@keyframes backAndForth {
    20% {
        top: 15px; 
    }
    60%, 80% {
        top: 50px; 
    }
    90% {
        top: 15px; 
    }
}
/* Text */
p {
    color: white;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #de5b56;
}

/* Parallax */
.parallax1 {
    /* The image used */
    background-image: url("bus.jpg");

    /* Set a specific height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("kwfwire.JPG");

    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Images */
img.icon {
    width: 30px;
    padding-top: 10px; 
}

/* Containers */
div.container {
    margin: 40px 10px 40px 10px;
}

.footer {
    background-color: #303030;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.pdf {
    margin-bottom: -10px;
}

object {
    width: 100%;
    height: 600px;
}

/* iPads */
@media only screen and (min-device-width : 768px) {
    /* Text */


    /* Containers */
    .footer {
        height: 70px;
    }
    
    /* Images */
    img.icon {
        width: 45px;
        padding-top: 10px; 
    }

    /* Navigation */
    nav {
        float:left;
        writing-mode: inherit;
        writing-mode: initial;
        writing-mode: unset;
        background-color: #de5b56; 
        display: flex;
        justify-content: flex-start;
        position: fixed !important;
        z-index: 30;
        width: 100%;
    }

    .navbar-toggler-icon {
        margin-left: -10px;
    }
  
    li {
        display: inline-block;
    }

    a.menu {
        display: inline-block;
        color: white !important;
        font-size: 15px;
        margin: 0px 0px 0px 20px;
        text-transform: uppercase;
    }

    a.menu:hover {
        color: #de5b56;
        text-decoration: none;
    }

    .navbar-toggler {
        background-color: transparent !important;
        border: none;
        width: 20px;
    }

    .collapse {
        display: flex;
        flex-direction: column;
    }

}

/* Desktops & laptops */
@media only screen  and (min-width : 1224px) {
    /* Text */


    /* Containers */
    div.container {
        margin: 150px 0px 150px 100px;
    }

    .footer {
        padding: 20px 40px 20px 40px;
        height: 100px;
    }

    .pdf {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }

    /* Navigation */
    .navbar {
        background-color: white;
    }

    nav {
        float: right;
        writing-mode:tb-rl;/*IE*/
        writing-mode:vertical-lr;/* OPera/webkit*/
        writing-mode:sideways-lr;/* should be the one */   
        background-color: white;  
        height: 100%; 
        display: flex;
        justify-content: center;
        flex-direction: row !important;
        position: fixed !important;
        right: 0;
        z-index: 30;
        width: 5%;
    }
    
    li {
        display:inline-block;
    }

    a.menu {
        display:inline-block;
        color: black !important;
        font-size: 15px;
        margin: 50px 0px 50px 0px;
        text-transform: uppercase;
    }

    a.menu:hover {
        color: #de5b56;
        text-decoration: none;
    }


}
/* Not that large screens */
@media only screen  and (min-width : 1524px) {
    /* Images */
    img.icon {
        width: 45px;
        padding-top: 10px; 
    }
}
/* Large screens */
@media only screen  and (min-width : 1824px) {
    /* Text */

}