/* Algemeen */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #de5b56;
	font-family: 'Montserrat', sans-serif;
}
/* Form */
#contact-form {
  max-width: 90%;
  margin: 0 auto;
}

label {
  font-weight: 400;
  cursor: pointer;
}

textarea,
input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
}

textarea {
  text-align: left;
  /* overflow:hidden; */
  
  resize: none;
  width: 90%;
  border-color: rgba(255, 255, 255, 0)
}

textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 1);
}

textarea:focus:required:valid {
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

textarea:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:required,
textarea:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:focus {
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
}

input:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

.expanding {
  vertical-align: top;
}

.send-icn {
  fill: rgba(255, 255, 255, 1)
}

.send-icn:hover {
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}

button:hover small {
  opacity: 1;
}

small {
  display: block;
  opacity: 0;
}

/* Text */
h1 {
	color: white;
	font-size: 45px;
    -webkit-animation-delay: 0.3s;
    margin-top: -170px;
}

h2 {
	color: white;
	font-size: 29px;
    margin-top: 10px;
    margin-left: 0px;
    -webkit-animation-delay: 1.1s;
}

h3 {
    color: white;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    color: white;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

p.sktext {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 15px;
}

hr {
    width: 60%;
    border-top: 2px solid white;
    margin-bottom: 30px;
    margin-left: 20px;
}

a.typewrite {
    text-decoration: none;
    color: white;
}

h1.faded {
    font-size: 150px;
    opacity: 0.1;
    color: white;
    z-index: -10;
    padding-top: 190px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #de5b56;
    text-decoration: none;
}

h4 {
  margin-left: 40px;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

/* Images */
img {
    width: 100%;
}

img.sk {
    width: 17%;
}

img.adobe {
    width: 18%;
}

/* Mouse */	
.mouse {
	width:50px;
  	height: 75px;
  	border: 3px white solid;
  	border-radius: 50px;	
}

.scroller {
  	position: absolute;
  	height: 10px;
  	width: 10px;
  	left: 80%;
  	top: 15px;
  	transform: translateX(-50%);
  	border-radius: 50px;
  	background-color: white;
  	animation : backAndForth 3.5s infinite ease-out;
}

@keyframes backAndForth {
  	20% {
   		top: 15px; 
  	}
  	60%, 80% {
   		top: 50px; 
  	}
  	90% {
   		top: 15px; 
  	}
}
/* Buttons */
button {
    text-transform: uppercase;
    width: 90%;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.btn {
    border-radius: 0;
    color: black;
    border: none;
    background-color: white;
    font-size: 16px;
    transition: all 1s;
    font-weight: bold;
    margin-top: 35px;
    margin-right: 20px;
}

.btn:hover {
    background-color: white;
    color: #de5b56;
    -webkit-transition: all .8s ease-in-out;  
    border: none;
    -webkit-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
    box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
}

.res {
    margin-top: -15px;
}

/* Containers */
.main {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
    margin-left: 10%;
    height: 100vh;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

/* Navigation */
nav {
  	float:right;
  	writing-mode:tb-rl;/*IE*/
  	writing-mode:vertical-lr;/* OPera/webkit*/
  	writing-mode:sideways-lr;/* should be the one */   
  	background-color: white;  
  	height: 100%; 
  	display: flex;
  	justify-content: center;
  	position: fixed !important;
  	right: 0;
  	z-index: 30;
}
	
li {
	display:inline-block;
}

a.menu {
	display:inline-block;
	color: black;
	font-size: 15px;
	margin: 50px 0px 50px 0px;
	text-transform: uppercase;
}

a.menu:hover {
	color: #de5b56;
	text-decoration: none;
}

.container {
  	width:50px;
  	height: 75px;
  	position: absolute;
  	left: 50%;
  	top: 90%;
  	transform: translate(-50%, -50%);
}

.footer {
	   background-color: #303030;
     display: flex;
	   justify-content: center;
}

/* iPads */
@media only screen and (min-device-width : 768px) {
    /* Text */
    h1.tekst {
        color: white;
        font-size: 70px;
        -webkit-animation-delay: 0.3s;
        margin-top: -220px;
    }

    h2.tekst {
        color: white;
        font-size: 40px;
        margin-top: 10px;
        -webkit-animation-delay: 2.1s;
    }

    h1.faded {
        font-size: 200px;
        opacity: 0.1;
        color: white;
        z-index: -10;
    }

    hr {
        width: 80%;
    }

    h3 {
        font-size: 40px;
    }

    h4 {
    	 font-size: 30px;
    	 margin-left: 60px;
  	}

    /* Buttons */
    .btn {
        width: 80%;
        margin-right: 30px;
    }

    /* Navigation */
	nav {
  		float:right;
  		writing-mode:tb-rl;/*IE*/
  		writing-mode:vertical-lr;/* OPera/webkit*/
  		writing-mode:sideways-lr;/* should be the one */   
  		background-color: white;  
  		height: 100%; 
  		display: flex;
  		justify-content: center;
  		position: fixed !important;
  		right: 0;
  		z-index: 30;
	}
	
	li {
		  display:inline-block;
	}

	a.menu {
		  display:inline-block;
		  color: black;
		  font-size: 15px;
		  margin: 50px 0px 50px 0px;
		  text-transform: uppercase;
	}

	a.menu:hover {
		  color: #de5b56;
		  text-decoration: none;
	}

	.container {
  		width:50px;
  		height: 75px;
  		position: absolute;
  		left: 50%;
  		top: 90%;
  		transform: translate(-50%, -50%);
	}

/* Containers */
  .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
  }

/* Images */
  img.sk {
      width: 17%;
  }

  img.adobe {
      width: 13%;
  }
}

/* Desktops & laptops */
@media only screen  and (min-width : 1224px) {
    /* Text */
    h1.tekst {
        color: white;
        font-size: 80px;
        -webkit-animation-delay: 0.3s;
        margin-top: -200px;
    }

    h2.tekst {
        color: white;
        font-size: 50px;
        margin-top: 10px;
        -webkit-animation-delay: 2.1s;
    }

    h1.faded {
        font-size: 170px;
        opacity: 0.1;
        color: white;
        z-index: -10;
    }

    h3 {
        font-size: 45px;
    }

    h4 {
        margin-left: 100px;
  	}
  	p.foot {
		    margin: 30px 30px 30px 30px;
		    font-size: 16px;
	}

    /* Navigation */
	nav {
  		float:right;
  		writing-mode:tb-rl;/*IE*/
  		writing-mode:vertical-lr;/* OPera/webkit*/
  		writing-mode:sideways-lr;/* should be the one */   
  		background-color: white;  
  		height: 100%; 
  		display: flex;
  		justify-content: center;
  		position: fixed !important;
  		right: 0;
  		z-index: 30;
	}
	
	li {
		  display:inline-block;
	}

	a.menu {
		  display:inline-block;
		  color: black;
		  font-size: 15px;
		  margin: 50px 0px 50px 0px;
		  text-transform: uppercase;
	}

	a.menu:hover {
		  color: #de5b56;
		  text-decoration: none;
	}

	.container {
  		width:50px;
  		height: 75px;
  		position: absolute;
  		left: 50%;
  		top: 90%;
  		transform: translate(-50%, -50%);
	}
	
	 /* Mouse */
	.mouse {
  		width:50px;
  		height: 75px;
  		border: 3px white solid;
  		border-radius: 50px;	
	}

	.scroller {
  		position: absolute;
  		height: 10px;
  		width: 10px;
  		left: 80%;
  		top: 15px;
  		transform: translateX(-50%);
  		border-radius: 50px;
  		background-color: white;
  		animation : backAndForth 3.5s infinite ease-out;
	}

	@keyframes backAndForth {
  		20% {
   			top: 15px; 
  		}
  		60%, 80% {
   			top: 50px; 
  		}
  		90% {
   			top: 15px; 
  		}
	}

	/* Containers */
	 .contact {
    margin-top: 80px;
    	margin-right: 80px;
    	margin-left: 80px;
  	}

    .about {
      margin-left: -50px;
      margin-right: 100px;
      margin-top: 25px;
    }

    /* Buttons */ 
    .btn {
        width: 60%;
        margin-top: 60px;
        margin-bottom: 70px;

    }

    .profoto {
      width: 90%;
      margin-left: 20px;
    }

    .vier {
      margin: 90px 60px 60px 70px;
    }

    .request {
      margin: 90px 80px 60px 0px;
    }

    .degriek {
      margin: 90px 60px 60px 70px;
    }

    .dutch {
      margin: 90px 80px 60px 0px;
    }
}

/* Large screens */
@media only screen  and (min-width : 1824px) {
    /* Text */
    h1.tekst {
        color: white;
        font-size: 80px;
        -webkit-animation-delay: 0.3s;
        margin-top: -200px;
    }

    h2.tekst {
        color: white;
        font-size: 50px;
        margin-top: 10px;
        -webkit-animation-delay: 2.1s;
    }

    h1.faded {
        font-size: 170px;
        opacity: 0.1;
        color: white;
        z-index: -10;
    }
}
