/* Algemeen */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #de5b56;
	font-family: 'Montserrat', sans-serif;
}

/* Navigation */
span {
  color: white;
  right: 10px;
  padding-right: 25px;
  padding-top: 5px;
}

.nav {
  font-size: 40px;
}

.navi {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  height: 70px;
  width: 100%;
  transition: 0.5s;
 }

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #de5b56;
}

.overlay .closebtn {
  position: absolute;
  right: 1px;
  padding-right: 25px;
  padding-top: 5px;
  font-size: 60px;
}

/* Text */
h1 {
	color: white;
	font-size: 39px;
  -webkit-animation-delay: 0.3s;
   margin-top: -190px;
}

h2 {
	color: white;
	font-size: 29px;
  margin-top: 10px;
  -webkit-animation-delay: 2.1s;
}

h3 {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

p {
  color: white;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

p.con {
  color: black;
}

hr {
  width: 60%;
  border-top: 2px solid white;
  margin-bottom: 30px;
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: black;
}

a.cont:hover {
  color: #de5b56;
}

h1.faded {
  font-size: 70px;
  opacity: 0.1;
  color: white;
  z-index: -10;
  padding-top: 180px;
}

h4 {
  margin-left: 40px;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

/* Images */
img {
  width: 100%;
}

.link {
  width: 35px;
  margin-left: 20px;
}

/* Form */
#contact-form {
  max-width: 90%;
  margin: 0 auto;
}

label {
  font-weight: 400;
  cursor: pointer;
}

textarea,
input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: rgba(255, 255, 255, 1);
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
}

textarea {
  text-align: left;
  /* overflow:hidden; */
  
  resize: none;
  width: 90%;
  border-color: rgba(255, 255, 255, 0)
}

textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 1);
}

textarea:focus:required:valid {
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

textarea:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:required,
textarea:required {
  border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
}

input:focus {
  border-bottom: 2px dashed rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
}

input:required:valid {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-style: italic;
  font-weight: 400;
}

.expanding {
  vertical-align: top;
}

.send-icn {
  fill: rgba(255, 255, 255, 1)
}

.send-icn:hover {
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}

button:hover small {
  opacity: 1;
}

small {
  display: block;
  opacity: 0;
}

/* Buttons */
button {
    text-transform: uppercase;
    width: 90%;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
}

.btn {
    border-radius: 0;
    color: black;
    border: none;
    background-color: white;
    font-size: 16px;
    transition: all 1s;
    font-weight: bold;
}

.btn:hover {
    background-color: white;
    color: #de5b56;
    -webkit-transition: all .8s ease-in-out;  
    border: none;
    -webkit-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
    box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.24);
}

/* Containers */
.main {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-flow: column;
    margin-left: 10%;
}

.main {
    height: 100vh;
}

.contact {
  margin-bottom: 40px;
}

/* Map */
#map {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  margin-bottom: 70px;

}

/* iPads */
@media only screen and (min-device-width : 768px) {
  /* Text */
  h1.tekst {
    color: white;
    font-size: 70px;
    -webkit-animation-delay: 0.3s;
     margin-top: -280px;
  }

  h2.tekst {
    color: white;
    font-size: 40px;
    margin-top: 10px;
    -webkit-animation-delay: 2.1s;
  }

  h1.faded {
    font-size: 130px;
    opacity: 0.1;
    color: white;
    z-index: -10;
  }

  hr {
    width: 80%;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 30px;
    margin-left: 60px;
  }
}

/* Desktops & laptops */
@media only screen  and (min-width : 1224px) {
  /* Text */
  h1.tekst {
    color: white;
    font-size: 80px;
    -webkit-animation-delay: 0.3s;
    margin-top: -200px;
  }

  h2.tekst {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    -webkit-animation-delay: 2.1s;
  }

  h1.faded {
    font-size: 160px;
    opacity: 0.1;
    color: white;
    z-index: -10;
  }

  h3 {
    font-size: 45px;
  }

  h4 {
    margin-left: 100px;
  }

  /* Containers */
  .contact {
    margin-right: 80px;
    margin-left: 80px;
  }
}

/* Large screens */
@media only screen  and (min-width : 1824px) {
  /* Text */
  h1.tekst {
    color: white;
    font-size: 80px;
    -webkit-animation-delay: 0.3s;
     margin-top: -200px;
  }

  h2.tekst {
    color: white;
    font-size: 50px;
    margin-top: 10px;
    -webkit-animation-delay: 2.1s;
  }

  h1.faded {
    font-size: 170px;
    opacity: 0.1;
    color: white;
    z-index: -10;
  }
}
